@import "bootstrap";

body {
  padding-top: 20px;
  padding-bottom: 20px;
}

.header {
  padding-bottom: 20px;
  margin-bottom: 20px;
  border-bottom: 1px solid #e5e5e5;

  h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
  }
}
