@import "bootstrap";
@import "loader";

html {
  overflow-y: scroll;
}

body {
  padding-top: 20px;
  background: #efefef;
}

.book-item {
  min-height: 220px;
  border-width: 3px;
  padding: 20px 1px;
  text-align: center;
}
