<div class="row">

  {{#each model as |book|}}
    <div class="col-sm-4">
      <div class="panel panel-info">
        <div class="panel-body">
          {{book.author.name}}
          <h4>{{book.title}}</h4>
        </div>
        <div class="panel-footer">{{book.publisher.name}}</div>
      </div>
    </div>
  {{/each}}

</div>