<div class="header clearfix">
  <nav>
    <ul class="nav nav-pills pull-right">
      {{#link-to 'application' tagName="li"}}<a href>Home</a>{{/link-to}}
    </ul>
  </nav>
  <h3 class="text-muted">Bookstore</h3>
</div>